// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Based on work:
 *   Copyright 2022 Arm Ltd,
 *   Copyright 2018 Icenowy Zheng <icenowy@aosc.io>
 */

/dts-v1/;
#include "allwinner/suniv-f1c100s.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Amtrak Tracker Midwest Test Board";
	compatible = "amtrak-midwest-test", "allwinner,suniv-f1c200s",
		     "allwinner,suniv-f1c100s";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&pio {
	spi1_pc_pins: spi1-pc-pins {
		pins = "PE7", "PE8", "PE9", "PE10";
		function = "spi1";
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pc_pins>;
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "xtx,xt25f128", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <60000000>;
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pc_pins>;
	status = "okay";

	spileds@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&otg_sram {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};
